/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #f6f5f3;
}

li {
  list-style-type: none;
}

/* utils */

hr {
  width: 10%;
  background-color: #f7972e;
  height: 1px;
  border: none;
}

img {
  display: block;
  width: 100%;
}

.d-none {
  display: none;
}

ul {
  display: flex;
}

b {
  color: black;
}

.fa-facebook {
  color: #1a77f3;
}

.fa-twitter {
  color: #009eff;
}
.fa-instagram {
  color: #de3d78;
}
.fa-pinterest {
  color: #e62222;
}
.fa-youtube {
  color: #e62222;
}

.social-name {
  display: none;
}

/* header */

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.logo {
  font-family: "Nerko One", cursive;
  color: orange;
  font-weight: 900;
  text-align: center;
  font-size: 1.8em;
  text-shadow: 1px 1px #999;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* upper-section */

.upper-section {
  display: flex;
  flex-direction: column;
  width: 94%;
}

#food-type {
  font-size: 0.7em;
  color: #888;
}

.upper-section-title {
  font-size: 1em;
  color: #4e3969;
  padding: 20px 0px 10px;
}

.ytvideo > iframe {
  display: block;
  width: 100%;
  aspect-ratio: 1.8;
}

.upper-section-description {
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 10px #ddd;
}

.upper-section-description > h2 {
  line-height: 50px;
  font-size: 0.9em;
}

.p-container {
  display: block;
}

.p-container > p {
  line-height: 25px;
  font-size: 0.7em;
}

.social-button {
  padding: 20px 0px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-button > ul > li {
  padding: 7px 15px;
  box-shadow: 1px 1px 10px #ddd;
  border-radius: 20px;
}

/* lower-section */

.lower-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 94%;
}

.lower-section-title {
  padding-bottom: 5px;
}

.lower-section-title > h2 {
  font-weight: 400;
}

.recipe-description > img {
  width: 65%;
  text-align: center;
  box-shadow: 1px 1px 10px #ddd;
}

.recipe-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  font-size: 0.8em;
  line-height: 25px;
  padding-bottom: 20px;
}

/* footer */

.footer {
  background-color: #7c69a4;
  color: white;
  font-size: 0.5em;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.company-info > p > b {
  color: white;
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.important-links {
  width: 70%;
}

.important-links > ul {
  display: flex;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.important-links > ul > li {
  text-align: center;
  flex: 0 0 21%;
}

.important-links > ul > li > a {
  color: white;
}

/* media query */

/* bonus 576px */

@media screen and (min-width: 576px) {
  .social-button > ul > li {
    padding: 7px 50px;
  }

  .recipe-description {
    display: block;
  }

  .recipe-description > img {
    float: left;
    width: 40%;
    margin-right: 10px;
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .upper-section,
  .lower-section {
    width: 90%;
  }

  .d-none {
    display: inline;
  }

  .upper-section-title > h1 {
    font-size: 2em;
  }

  .p-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .p-container > p {
    flex: 0 0 33%;
    font-size: 0.9em;
  }

  .upper-section-description {
    padding-left: 35px;
    padding-bottom: 35px;
  }

  .upper-section-description > h2 {
    padding: 20px 0px;
    font-size: 1.2em;
  }

  .social-button > ul > li {
    padding: 7px 50px;
  }

  .adv-banner {
    padding-bottom: 25px;
  }

  .recipe-description > img {
    float: left;
    width: 40%;
    margin-right: 10px;
  }

  .recipe-description {
    display: block;
    font-size: 1em;
    line-height: 30px;
  }

  .lower-section {
    gap: 10px;
    padding-bottom: 30px;
  }

  .footer {
    font-size: 0.8em;
    padding: 25px 0px;
  }

  .important-links > ul {
    flex-wrap: nowrap;
  }

  .recipe-upper-container {
    display: block;
  }
}

/* desktop */

@media screen and (min-width: 992px) {
  .upper-section-title > h1 {
    font-size: 2.2em;
  }

  .upper-section,
  .lower-section {
    width: 70%;
  }

  .recipe-upper-container {
    display: flex;
  }

  .ytvideo {
    flex: 0 0 70%;
  }

  .upper-section-description {
    flex: 0 0 30%;
    padding-top: 20px;
    padding-left: 20px;
  }

  .upper-section-description > h2 {
    padding: 0;
  }

  .p-container {
    display: block;
  }

  .social-list > li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-button > ul > li {
    padding: 10px 0px;
    flex: 0 0 19%;
  }

  .fa-brands {
    padding-right: 2px;
  }

  .social-name {
    display: inline;
    font-size: 0.7em;
    font-weight: bold;
  }
  .recipe-description > img {
    width: 30%;
  }

  .recipe-description {
    font-size: 0.9em;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
  }

  .important-links {
    width: 40%;
  }

  .company-info {
    align-items: baseline;
  }
}
