/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #f6f5f3;
}

li {
  list-style-type: none;
}

/* utils */

hr {
  width: 20%;
  background-color: #f7972e;
  height: 1px;
  border: none;
}

img {
  display: block;
  width: 100%;
}

.d-none {
  display: none;
}

ul {
  display: flex;
}

b {
  color: black;
}

.fa-facebook {
  color: #1a77f3;
}

.fa-twitter {
  color: #009eff;
}
.fa-instagram {
  color: #de3d78;
}
.fa-pinterest {
  color: #e62222;
}
.fa-youtube {
  color: #e62222;
}

/* header */

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.logo {
  font-family: "Nerko One", cursive;
  color: orange;
  font-weight: 900;
  text-align: center;
  font-size: 1.8em;
  text-shadow: 1px 1px #999;
}

/* main */

/* upper-section */

.upper-section {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0px 15px;
}

#food-type {
  font-size: 0.7em;
  color: #888;
}

.upper-section-title {
  font-size: 1em;
  color: #4e3969;
  padding-bottom: 13px;
}

.ytvideo > img {
  aspect-ratio: 1.9;
}

.upper-section-description {
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 10px #ddd;
}

.upper-section-description > h2 {
  line-height: 50px;
  font-size: 0.9em;
}

.upper-section-description > p {
  line-height: 20px;
  font-size: 0.7em;
}

.social-button {
  padding-top: 20px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-button > ul > li {
  padding: 7px 15px;
  box-shadow: 1px 1px 10px #ddd;
  border-radius: 20px;
}

/* lower-section */

.lower-section {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

.lower-section-title {
  padding-bottom: 5px;
}

.lower-section-title > h2 {
  font-weight: 400;
}

.lower-section-image {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
}

.lower-section-image > img {
  width: 65%;
  box-shadow: 1px 1px 10px #ddd;
}

.recipe-description {
  padding-top: 10px;
  font-size: 0.8em;
  line-height: 25px;
}

/* footer */

.footer {
  background-color: #7c69a4;
  color: white;
  font-size: 0.6em;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-info > p > b {
  color: white;
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.important-links > ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.important-links > ul > li {
  flex: 0 0 20%;
}
